* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(295, 0%, 80%);
}

.pill {
  font-family: sans-serif;
  font-weight: bold;
  min-width: 100px;
  height: 100dvh;

  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* color: white; */
}

.countdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  height: 500px;

  border-radius: 50%;
  text-align: center;
  font-size: 4rem;
  color: white;
  z-index: 1;
  font-size: 8rem;
}
.countdown::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #c31432, #c94b4b, #4b134f, #240b36);
  background-size: 400%;

  animation: counts 600ms 18 alternate;
  transition: background-position 250ms;
  z-index: -1;
}

.newyear {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  height: 550px;
  border-radius: 50%;
  font-size: 4rem;
  background-image: linear-gradient(45deg, #c31432, #c94b4b, #4b134f, #240b36);
  color: #fff;

  background-size: 400%;
  background-position: left;
  transform: scale(1);

  animation: new 900ms alternate 3, counts 4000ms alternate infinite;
  transition: transform 500ms, background-position 5000ms;
  z-index: -1;
}

@keyframes counts {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes new {
  0% {
    transform: scale(0);
    background-position: left;
  }
  50% {
    transform: scale(0.5);
    background-position: center;
  }

  100% {
    transform: scale(1);
    background-position: right;
  }
}
